payment-api/src/main/app/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="insertPaymentFlow">
        <set-variable variableName="receivedPayload" value="#[payload]" doc:name="Variable"/>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database" autoGeneratedKeys="true" autoGeneratedKeysColumnNames="ID">
            <db:parameterized-query><![CDATA[INSERT INTO `OrderPayment`
(`salesOrderNumber`,
`bankConfirmationId`,
`poNumber`,
`customerName`,
`amount`,
`currency`,
`ceatedDate`)
VALUES
(#[payload.salesOrderNumber],
#[payload.bankConfirmationId],
#[payload.poNumber],
#[payload.customerName],
#[payload.amount],
#[payload.currency],
#[payload.ceatedDate]);]]></db:parameterized-query>
        </db:insert>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{"paymentId": "" ++ payload[0].GENERATED_KEY} ++ flowVars.receivedPayload]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
